/* You can add global styles to this file, and also import other style files */
:root {
  --urlResources: "https://maferi01.github.io";
  --urlImages: "/assets/images/";
  --urlIcons: "/assets/icons/";
}
[class^=container-present-] {
  /* HTML5 display-role reset for older browsers */
}
[class^=container-present-] div,
[class^=container-present-] span,
[class^=container-present-] applet,
[class^=container-present-] object,
[class^=container-present-] iframe,
[class^=container-present-] h1,
[class^=container-present-] h2,
[class^=container-present-] h3,
[class^=container-present-] h4,
[class^=container-present-] h5,
[class^=container-present-] h6,
[class^=container-present-] p,
[class^=container-present-] blockquote,
[class^=container-present-] pre,
[class^=container-present-] a,
[class^=container-present-] abbr,
[class^=container-present-] acronym,
[class^=container-present-] address,
[class^=container-present-] big,
[class^=container-present-] cite,
[class^=container-present-] code,
[class^=container-present-] del,
[class^=container-present-] dfn,
[class^=container-present-] em,
[class^=container-present-] img,
[class^=container-present-] ins,
[class^=container-present-] kbd,
[class^=container-present-] q,
[class^=container-present-] s,
[class^=container-present-] samp,
[class^=container-present-] small,
[class^=container-present-] strike,
[class^=container-present-] strong,
[class^=container-present-] sub,
[class^=container-present-] sup,
[class^=container-present-] tt,
[class^=container-present-] var,
[class^=container-present-] b,
[class^=container-present-] u,
[class^=container-present-] i,
[class^=container-present-] center,
[class^=container-present-] dl,
[class^=container-present-] dt,
[class^=container-present-] dd,
[class^=container-present-] ol,
[class^=container-present-] ul,
[class^=container-present-] li,
[class^=container-present-] fieldset,
[class^=container-present-] form,
[class^=container-present-] label,
[class^=container-present-] legend,
[class^=container-present-] table,
[class^=container-present-] caption,
[class^=container-present-] tbody,
[class^=container-present-] tfoot,
[class^=container-present-] thead,
[class^=container-present-] tr,
[class^=container-present-] th,
[class^=container-present-] td,
[class^=container-present-] article,
[class^=container-present-] aside,
[class^=container-present-] canvas,
[class^=container-present-] details,
[class^=container-present-] embed,
[class^=container-present-] figure,
[class^=container-present-] figcaption,
[class^=container-present-] footer,
[class^=container-present-] header,
[class^=container-present-] hgroup,
[class^=container-present-] main,
[class^=container-present-] menu,
[class^=container-present-] nav,
[class^=container-present-] output,
[class^=container-present-] ruby,
[class^=container-present-] section,
[class^=container-present-] summary,
[class^=container-present-] time,
[class^=container-present-] mark,
[class^=container-present-] audio,
[class^=container-present-] video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
[class^=container-present-] p {
  margin-bottom: 10px;
}
[class^=container-present-] article,
[class^=container-present-] aside,
[class^=container-present-] details,
[class^=container-present-] figcaption,
[class^=container-present-] figure,
[class^=container-present-] footer,
[class^=container-present-] header,
[class^=container-present-] hgroup,
[class^=container-present-] main,
[class^=container-present-] menu,
[class^=container-present-] nav,
[class^=container-present-] section {
  display: block;
}
[class^=container-present-] a {
  text-decoration: none;
}
[class^=container-present-] em {
  font-style: oblique !important;
}
[class^=container-present-] strong {
  font-weight: bold !important;
}

/*# sourceMappingURL=stylesmain.css.map*/